@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.btn-circle {
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  transition: all 0.32s ease-out;
  cursor: pointer;
}